* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: var(--primary-text-color);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

p {
  margin: 0;
  padding: 0;
}

h1 h2 h3 h4 h5 {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

.logostudio {
  color: #2196f3;
}

.logo-down {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
  display: inline-block;
  margin-bottom: 20px;
}

.page-header {
  background: #ffffff;
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #ececec;
}

@media screen and (min-width: 768px) {
  .page-header {
    padding-top: 26px;
    padding-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .page-header {
    padding-top: 26px;
    padding-bottom: 25px;
  }
}

.page-header.container {
  display: flex;
  align-items: center;
}

.page-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

.nav__list {
  display: flex;
  margin: 0;
  margin-left: 93px;
  display: none;
}

@media screen and (min-width: 768px) {
  .nav__list {
    display: flex;
    margin-left: 88px;
  }
}

.nav__item:not(:first-child) {
  margin-left: 50px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact {
  display: flex;
  margin-left: auto;
  align-items: center;
  display: none;
}

@media screen and (min-width: 768px) {
  .contact {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .contact {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .contact__item {
    margin-bottom: 10px;
  }
}

.contact__item:not(:first-child) {
  margin-bottom: 0;
}

@media screen and (min-width: 1200px) {
  .contact__item {
    margin-left: 50px;
    margin-bottom: 0;
  }
}

.contact__item:not(:last-child) {
  margin-left: 0px;
}

.nav__link:hover, .nav__link:focus {
  color: #2196f3;
}

.contact__link:hover,
.contact__link:focus + .contacts-up__icon {
  color: #2196f3;
  fill: #2196f3;
}

.nav__link:active {
  color: #2196f3;
}

.nav__link--current {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.contact__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  fill: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__icon {
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link--current::after {
  content: '';
  position: absolute;
  bottom: -32px;
  margin-bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border: 2px solid;
  border-radius: 2px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link--current {
  position: relative;
}

.mobile {
  margin-top: 48px;
}

.mobile-menu {
  margin-left: 25px;
}

.mobile-nav {
  position: absolute;
  background-color: #ffffff;
  top: 0;
  width: 100vw;
  height: 100vh;
  transition: translateX(0) translateY(0);
  transition-duration: 250ms;
  z-index: 1;
}

.mobile-nav .container {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 100%;
  flex-direction: column;
}

.mobile-nav .menu-close {
  position: absolute;
  right: 15px;
  top: 16px;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.mobile-nav .menu-close:hover, .mobile-nav .menu-close:focus {
  fill: #2196f3;
}

.menu-open {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.menu-open:focus, .menu-open:hover {
  fill: #2196f3;
}

@media screen and (min-width: 768px) {
  .menu-open {
    display: none;
  }
}

.mobile-menu__link {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #212121;
}

.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: #2196f3;
}

.mobile-contacts__link {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;
}

.mobile-contacts__link:focus, .mobile-contacts__link:hover {
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mobile-contacts-media {
  margin-left: 25px;
}

.mobile-contacts__item {
  margin-bottom: 32px;
}

.mobile-contacts__item:last-child {
  margin-bottom: 0;
}

.mobile-media__link {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mobile-media {
  display: flex;
  margin-top: 64px;
  margin-bottom: 48px;
  flex-wrap: wrap;
}

.mobile-menu__item {
  margin-bottom: 32px;
}

.mobile-menu__item:last-child {
  margin-bottom: 0;
}

.mobile-nav.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.mobile-media__item:not(:last-child)::after {
  content: '';
  margin-left: 10px;
  margin-right: 10px;
  width: 22px;
  height: 0;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.hero {
  max-width: 1600px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  background: #2F303A;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
}

.hero {
  background-image: url(../images/format/hero1x.jpg);
}

@media (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/format/hero1x-2.jpg);
  }
}

@media (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/format/hero2x.jpg);
  }
}

@media (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/format/hero2x-2.jpg);
  }
}

@media (min-width: 1000px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/format/hero-1200-min.jpg);
  }
}

.hero__title {
  margin: 0;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button {
  border: 1px solid transparent;
  margin-top: 30px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  cursor: pointer;
  letter-spacing: 0.06em;
  color: #ffffff;
  font-family: inherit;
  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;
  background-color: #2196f3;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.149);
  border-radius: 4px;
}

.hero__button:hover, .hero__button:focus {
  background: #F5F4FA;
  color: #212121;
}

.features {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .features {
    padding-top: 94px;
  }
}

.features__list {
  margin: 0;
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .features__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.features__item {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .features__item {
    flex-basis: calc((100% - 60px) / 2);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .features__item {
    flex-basis: calc((100% - 120px) / 4);
  }
}

.features__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: #212121;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .features__title {
    text-align: left;
  }
}

.features__description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  padding-top: 10px;
  margin: 0;
}

.features__item::before {
  display: block;
  content: '';
  height: 120px;
  margin-bottom: 30px;
  outline: 1px solid transparent;
}

.features__item:nth-child(1)::before {
  background: #F5F4FA url(../images/post/antenna.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.features__item:nth-child(2)::before {
  background: #F5F4FA url(../images/post/clock.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.features__item:nth-child(3)::before {
  background: #F5F4FA url(../images/post/diagram.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.features__item:nth-child(4)::before {
  background: #F5F4FA url(../images/post/astronaut.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.service {
  padding-top: 94px;
  padding-bottom: 94px;
  display: none;
}

@media screen and (min-width: 1200px) {
  .service {
    display: block;
  }
}

.service__item:not(:last-child) {
  margin-right: 30px;
}

.service__list {
  margin: 0;
  display: flex;
  padding-left: inherit;
}

.service__item {
  position: relative;
}

.service__text {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding-top: 27px;
  padding-bottom: 27px;
  color: #ffffff;
  font-weight: bold;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background: #2f303acc;
}

.service__title {
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.team {
  background: #F5F4FA;
  padding: 94px 0 94px 0;
}

.team__title {
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 28px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

@media screen and (min-width: 1200px) {
  .team__title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.team__item {
  text-align: center;
  border-radius: 0 0 4px 4px;
  background: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.14), 0 2px 1px rgba(0, 0, 0, 0.2);
}

.team__list {
  padding-left: 0;
  margin: 0;
}

.team__list {
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.team__item {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .team__item {
    flex-basis: calc((100% - 60px) / 2);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    flex-basis: calc((100% - 120px) / 4);
  }
}

.team__box {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
}

.team__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.team__position {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 16px;
  letter-spacing: 0.03em;
  color: #757575;
}

.team-social {
  display: flex;
  justify-content: center;
}

.team-social__link:hover, .team-social__link:focus {
  background: #2196f3;
  fill: #EEEEEE;
}

.team-social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;
  background-color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.companies {
  padding-top: 60px;
  padding-bottom: 60px;
}

.companies__title {
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 28px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

@media screen and (min-width: 480px) {
  .companies__title {
    padding-top: 0;
  }
}

@media screen and (min-width: 1200px) {
  .companies__title {
    font-size: 36px;
    padding-top: 24px;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 480px) {
  .companies__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .companies__list {
    padding-bottom: 24px;
  }
}

.companies__item {
  margin-bottom: 30px;
}

.companies__item:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 480px) {
  .companies__item:nth-last-child(2) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .companies__item:nth-last-child(3) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .companies__item {
    margin-bottom: 0;
  }
}

.companies__svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.companies__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .companies__link {
    width: 210px;
  }
}

@media screen and (min-width: 768px) {
  .companies__link {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .companies__link {
    width: 170px;
  }
}

.companies__link:focus, .companies__link:hover {
  border-color: #2196f3;
  fill: #2196f3;
}

.address__list {
  display: inline-block;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #2F303A;
}

.address__link:hover, .address__link:focus {
  color: #2196f3;
}

.address {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.address__street {
  display: flex;
}

.footer__title {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer__list {
  display: flex;
  margin-top: 20px;
  justify-content: space-around;
}

.footer__item:not(:last-child) {
  margin-right: 10px;
}

.footer__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #ffffff;
  background: rgba(255, 255, 255, 0.1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__link:hover, .footer__link:focus {
  background: #2196f3;
}

.footer .container {
  align-items: baseline;
}

@media screen and (min-width: 768px) {
  .footer .container {
    display: flex;
    flex-wrap: wrap;
  }
}

.footer-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .footer-form {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form {
    width: auto;
    display: block;
    margin-left: 93px;
  }
}

.footer__icons {
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .footer__icons {
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .footer__icons {
    margin-left: 70px;
    margin-bottom: 0;
    display: block;
  }
}

.contacts__list {
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .contacts__list {
    margin-bottom: 0;
    display: block;
  }
}

.footer-form__title {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-form__input {
  width: 100%;
  height: 50px;
  padding: 15px 16px;
  margin-top: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #ffffff;
  background: #2F303A;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .footer-form__input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form__input {
    width: 358px;
  }
}

.footer-form__input:hover, .footer-form__input:focus {
  border-color: #2196f3;
}

.footer-form__button {
  display: inline-block;
  align-items: center;
  position: relative;
  padding: 8px 62px 9px 29px;
  background: #2196f3;
  color: #ffffff;
  fill: #ffffff;
  border-radius: 4px;
  margin-top: 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border-color: transparent;
  cursor: pointer;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .footer-form__button {
    margin-top: 0;
    margin-left: 12px;
  }
}

.footer-form__icon {
  position: absolute;
  bottom: 13px;
  right: 28px;
  padding-left: 0;
}

.footer-form__button:hover, .footer-form__button:focus {
  background: #F5F4FA;
  color: #212121;
  fill: #212121;
}

.address__item--nav {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .address__item--nav {
    text-align: inherit;
  }
}

.portfolio-card__overlay {
  position: relative;
  overflow: hidden;
}

.portfolio-card__outgoing {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2196f3e6;
  opacity: 1;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card__text {
  transform: translate(-50% -50%);
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 25px;
  padding-right: 25px;
  color: #ffffff;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
}

.portfolio-card__link:hover .portfolio-card__outgoing {
  transform: translateX(0);
}

.portfolio-card__link:focus .portfolio-card__outgoing {
  transform: translateX(0);
}

.portfolio {
  background: #ffffff;
  padding-top: 94px;
}

.portfolio__button {
  border: 1px solid transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  padding: 6px 22px;
  cursor: pointer;
  letter-spacing: 0.03em;
  color: #212121;
  height: 38px;
  top: 174px;
  background: #F5F4FA;
  border-radius: 4px;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__button:hover, .portfolio__button:focus {
  background: #2196f3;
  color: #ffffff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__list {
  display: flex;
  margin-bottom: 50px;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .portfolio__list {
    justify-content: center;
  }
}

.portfolio__item:not(:last-child) {
  margin-right: 8px;
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .portfolio__item:not(:last-child) {
    margin-bottom: 0;
  }
}

.container .portfolio-card__list {
  padding-bottom: 94px;
  padding-left: 0;
  padding-right: 0;
}

.portfolio-card__list {
  flex-wrap: wrap;
  margin: 0;
}

.portfolio-card__link {
  display: block;
}

.portfolio-card__link:hover, .portfolio-card__link:focus {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

@media screen and (min-width: 768px) {
  .portfolio-card__list {
    display: flex;
    justify-content: space-between;
  }
}

.portfolio-card__box {
  padding: 20px 24px 20px 24px;
  border: 1px solid #EEEEEE;
  border-block-start: none;
}

.portfolio-card__item {
  margin-bottom: 30px;
}

.portfolio-card__item:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .portfolio-card__item {
    flex-wrap: wrap;
    flex-basis: calc((100% / 2) - (30px / 2));
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-card__item {
    flex-basis: auto;
  }
  .portfolio-card__item:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

.portfolio-card__title {
  margin-bottom: 4px;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.portfolio-card__servise {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  overflow-y: scroll;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 93px;
  padding-bottom: 94px;
  padding-left: 15px;
  padding-right: 15px;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden.modal {
  transform: translate(-50%, -50%) scale(0.5);
}

.modal {
  position: relative;
  padding: 40px;
  width: 100%;
  background: #ffffff;
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    margin: auto;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal__title {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
  margin-bottom: 12px;
}

.modal__button {
  position: absolute;
  background-color: transparent;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button:hover, .modal__button:focus {
  fill: #2196f3;
}

.modal__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form__contact {
  display: flex;
  flex-direction: column;
  margin-bottom: 4px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  margin-bottom: 10px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.form__input:focus, .form__input:hover {
  border-color: #2196f3;
}

.form__input:focus + .form__icon,
.form__input:hover + .form__icon {
  fill: #2196f3;
}

.form__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  margin-left: 15px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__side {
  position: relative;
  margin-top: 4px;
  margin-bottom: 10px;
}

.form__textarea {
  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__textarea:hover {
  border-color: #2196f3;
}

.form__checkbox {
  appearance: none;
}

.form__option {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
  justify-content: center;
}

.form__agree {
  content: '';
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid #212121;
  border-radius: 4px;
  cursor: pointer;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__agree:hover, .form__agree:focus {
  border-color: #2196f3;
}

.form__accept {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (min-width: 1200px) {
  .form__accept {
    font-size: 14px;
    line-height: 1.71;
  }
}

.form__contract {
  color: #2196f3;
  text-decoration: underline;
}

.form__checkbox:checked + .form__agree {
  border-color: transparent;
  background-color: #2196f3;
  background-image: url("../images/new-post/bord-white.svg");
  background-size: contain;
  background-origin: border-box;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__checkbox:focus + .form__agree {
  border-color: #2196f3;
}

.form__btn {
  display: block;
  width: 200px;
  height: 50px;
  margin: auto;
  color: #ffffff;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: transparent;
  background: #2196f3;
  cursor: pointer;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__btn:hover, .form__btn:focus {
  background: #188CE8;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
/*# sourceMappingURL=main.css.map */