.mobile{
    margin-top: 48px;
}
.mobile-menu{
    margin-left: 25px;
}
.mobile-nav{
    position: absolute;
    background-color: $header-color;
    top: 0;
    width: 100vw;
    height: 100vh;
    transition: translateX(0) translateY(0);
    transition-duration: 250ms;
    z-index: 1;
    .container{
        position: relative;
        display: flex;
        justify-content: space-between;
        height: 100%;
        flex-direction: column;
    }
    .menu-close{
        position: absolute;
        right: 15px;
        top: 16px;

        display: inline-flex;
        margin: 0;
        padding: 0;
        border: none;
        background-color: transparent;
        cursor: pointer;

        &:hover,
        &:focus{
            fill: $accent-color;
        }
    }
}
.menu-open{
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;

    &:focus,
    &:hover{
        fill: $accent-color;
    }

    @media screen and (min-width: 768px){
        display: none;
    }
}
.mobile-menu__link{
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: $title-text-color;

    &:hover,
    &:focus{
        color: $accent-color;
    }
}
.mobile-contacts__link{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: $primary-text-color;

    &:focus,
    &:hover{
        font-size: 34px;
        line-height: 1.17;
        letter-spacing: 0.02em;
        color: $accent-color;
    }
}
.mobile-contacts-media{
    margin-left: 25px;
}
.mobile-contacts__item{
    margin-bottom: 32px;

    &:last-child{
        margin-bottom: 0;
    }
}
.mobile-media__link{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: $accent-color;
}
.mobile-media{
    display: flex;
    margin-top: 64px;
    margin-bottom: 48px;
    flex-wrap: wrap;
}
.mobile-menu__item{
    margin-bottom: 32px;

    &:last-child{
        margin-bottom: 0;
    }
}
.mobile-nav.is-hidden{
    opacity: 0;
    pointer-events: none;
}
.mobile-media__item:not(:last-child)::after{
    content: '';
    margin-left: 10px;
    margin-right: 10px;
    width: 22px;
    height: 0;
    border: 1px solid $black-light-color;
}
