.form__contact{
    display: flex;
    flex-direction: column;
    margin-bottom: 4px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: $primary-text-color;
}
.form__input{
    width: 100%;
    height: 40px;
    border: 1px solid $black-light-color;
    border-radius: 4px;
    padding-left: 42px;
    margin-bottom: 10px;
    transition: border 250ms $transition;
    cursor: pointer;
}
.form__input{
    

    &:focus,
    &:hover{
        border-color: $accent-color;
    }

    &:focus + .form__icon,
    &:hover + .form__icon{
        fill: $accent-color;
    }
}
.form__icon{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    margin-left: 15px;
    transition: fill 250ms $transition;
}
.form__side{
    position: relative;
    margin-top: 4px;
    margin-bottom: 10px;
}
.form__textarea{
    width: 100%;
    height: 120px;
    resize: none;
    padding: 12px 16px;
    border: 1px solid $black-light-color;
    box-sizing: border-box;
    border-radius: 4px;
    transition: border 250ms $transition;
}
.form__textarea{

    &:hover{
        border-color: $accent-color;
    }
}
.form__checkbox{
    appearance: none;
}
.form__option{
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
    justify-content: center;
}
.form__agree{
    content: '';
    display: inline-block;
    width: 16px;
    height: 15px;
    margin-right: 7px;
    border: 2px solid $title-text-color;
    border-radius: 4px;
    cursor: pointer;
    transition: border 250ms $transition;
}
.form__agree{

    &:hover,
    &:focus{
        border-color: $accent-color;
    }
}
.form__accept{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: $primary-text-color;

    @media screen and (min-width: 1200px){
        font-size: 14px;
        line-height: 1.71;
    }
}
.form__contract{
    color: $accent-color;
    text-decoration: underline;
}
.form__checkbox{

    &:checked + .form__agree{
        border-color: transparent;
        background-color: $accent-color;
        background-image: url('../images/new-post/bord-white.svg');
        background-size: contain;
        background-origin: border-box;
        transition: background 250ms $transition;
    }
}
.form__checkbox{

    &:focus + .form__agree{
        border-color: $accent-color;
    }
}
.form__btn{
    display: block;
    width: 200px;
    height: 50px;
    margin: auto;
    color: $header-color;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    border-radius: 4px;
    border: transparent;
    background: $accent-color;
    cursor: pointer;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__btn{

    &:hover,
    &:focus{
        background: $hover-focus-btn;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
        transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}