.service{
   padding-top: 94px;
   padding-bottom: 94px;
   display: none;
   
   @media screen and (min-width: 1200px){
       display: block;
   }
}
.service__item{
     
    &:not(:last-child){
        margin-right: 30px;
    }
}
.service__list{
    margin: 0;
    display: flex;
    padding-left: inherit;
}
.service__item{
    position: relative;
}
.service__text{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding-top: 27px;
    padding-bottom: 27px;
    color: $header-color;
    font-weight: bold;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    background: $grey-color;
}
.service__title{
    margin-bottom: 50px;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: $title-text-color;
}