.hero{
    max-width: 1600px;
    max-height: 600px;
    margin-left: auto;
    margin-right: auto;
    background: $footer-color-line;
    background-image: linear-gradient( to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/format/hero-480-min.jpg);
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 118px;
    padding-bottom: 118px;

    @media screen and (min-width: 768px){
        background-image: linear-gradient( to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/format/hero-768-min.jpg);
    }

    @media screen and (min-width: 1200px){
        background-image: linear-gradient( to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/format/hero-1200-min.jpg);
        width: 1600px;
        height: 600px;
        padding-top: 200px;
        padding-bottom: 200px;
    }
}
.hero__title{
    margin: 0;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    letter-spacing: 0.06em;
    color: $header-color;
    text-align: center;
    text-transform: uppercase;

    // @media screen and (min-width: 768px){
    //     font-weight: 900;
    //     font-size: 26px;
    //     line-height: 1.61;
    // }

    @media screen and (min-width: 1200px){
        font-size: 44px;
        line-height: 1.36;
    }
}
.hero__button{
    border: 1px solid transparent;
    margin-top: 30px;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    cursor: pointer;
    letter-spacing: 0.06em;
    color: $header-color;
    font-family: inherit;
    padding: 10px 32px;
    margin-left: auto;
    margin-right: auto;
    background-color: $accent-color;
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 4px 4px hsla(0, 0%, 0%, 0.149);
    border-radius: 4px;
}
.hero__button{

    &:hover,
    &:focus{
        background: $pink-color;
        color: $title-text-color;
    }
}