.portfolio{
    background: $header-color;
    padding-top: 94px;
}
.portfolio__button{
    border: 1px solid transparent;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    padding: 6px 22px;
    cursor: pointer;
    letter-spacing: 0.03em;
    color: $title-text-color;
    height: 38px;
    top: 174px;
    background: $pink-color;
    border-radius: 4px;
    transition: background 250ms $transition, color 250ms $transition, box-shadow 250ms $transition;
}
.portfolio__button{

    &:hover,
    &:focus{
        background: $accent-color;
        color: $header-color;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12),0 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}
.portfolio__list{
    display: flex;
    margin-bottom: 50px;

    flex-wrap: wrap;

    @media screen and (min-width: 768px){
        justify-content: center;
    }
}
.portfolio__item{

    &:not(:last-child){
        margin-right: 8px;
        margin-bottom: 15px;
    }

    @media screen and (min-width: 768px){
        &:not(:last-child){
            margin-bottom: 0;
        }
    }
}
.container{

    .portfolio-card__list{
        padding-bottom: 94px;
        padding-left: 0;
        padding-right: 0;
    }
}
.portfolio-card__list{
    // display: flex;
    flex-wrap: wrap;
    margin: 0;
}
.portfolio-card__link{
    display: block;
}
.portfolio-card__link{

    &:hover,
    &:focus{
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}
.portfolio-card__list{
    @media screen and (min-width: 768px){
        display: flex;
        justify-content: space-between;
    }

    @media screen and (min-width: 1200px){}
}
.portfolio-card__box{
        padding: 20px 24px 20px 24px;
        border: 1px solid $cards-color;
        border-block-start: none;
    }
.portfolio-card__item{
    margin-bottom: 30px;

    &:last-child{
        margin-bottom: 0;
    }

    @media screen and (min-width: 768px){
        flex-wrap: wrap;
        flex-basis: calc((100% / 2) - (30px / 2));
    }

    @media screen and (min-width: 1200px){
        flex-basis: auto;

        &:nth-last-child(-n + 3) {
        margin-bottom: 0;
        }
    }

}
.portfolio-card__title{
    margin-bottom: 4px;
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: $title-text-color;
}
.portfolio-card__servise{
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: $primary-text-color;
}