* {
    margin: 0; 
    padding: 0; 
}
body {
    font-family: 'Roboto', sans-serif ;
    font-size: 14px;
    color: var(--primary-text-color)
} 
ul {
 list-style: none;
 margin: 0;
 padding: 0;   
} 
a {
    text-decoration: none; 
} 
address {
    font-style: normal;
}
p {
    margin: 0;
    padding: 0;
}
h1 h2 h3 h4 h5 {
    margin: 0;
    padding: 0;
}
img {
    display: block;
    width: 100%;
}