$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$header-color: #ffffff;
$footer-color: rgba(255, 255, 255, 0.6);
$footer-color-line: #2F303A;
$logo-style-font: 'Raleway', sans-serif;
$black-color: #000000;
$cards-color: #EEEEEE;
$pink-color: #F5F4FA;
$four-icons-color: #afb1b8;
$transition: cubic-bezier(0.4, 0, 0.2, 1);
$hover-focus-btn: #188CE8; 
$grey-color: #2f303acc;
$silver-color: rgba(255, 255, 255, 0.1);
$light-silver-color: rgba(255, 255, 255, 0.3);
$blue-color: #2196f3e6;
$black-light-color: rgba(33, 33, 33, 0.2);
$milk-color: #ececec;
$backdrop-color: rgba(0, 0, 0, 0.2);      